@charset "UTF-8";
/* шрифты */
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
/* переменные */
/* миксины */
/* в vendor прописывается @import "./vendors/normalize.css" или "./vendors/swiper-min.css" */
/* сбросы и общие настройки */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  line-height: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

[class*=__container] {
  margin: 0 auto;
  padding: 20px;
  max-width: 1366px;
}

/* HEADER */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* HERO */
.hero__nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(192, 192, 192);
  transform: translate(-100%, 0);
  transition: 0.3s ease-in-out;
}
.hero__nav.open-menu {
  transform: translate(0, 0);
}
.hero-menu {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 140px 20px 20px;
}
.hero-menu__link {
  position: relative;
  outline: none;
}
.hero-menu__link span {
  position: relative;
  z-index: 1;
  color: rgb(3, 3, 3);
  transition: 0.3s ease-in-out;
}
.hero-menu__link::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  transition: 0.3s ease-in-out;
}
.hero-menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 128);
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}
.hero-menu__link:focus:not(:hover):not(:active) span {
  color: rgb(255, 255, 255);
}
.hero-menu__link:hover:not(:active) span {
  color: rgb(0, 0, 128);
}
.hero-menu__link:focus:not(:hover):not(:active)::before {
  background-color: rgb(0, 0, 128);
}
.hero-menu__link:hover:not(:active)::after {
  transform: scaleX(1);
}
.hero .burger {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 50px;
  height: 40px;
  color: #333;
  transition: 0.3s ease-in-out;
}
.hero .burger span {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgb(51, 51, 51);
  transition: 0.3s ease-in-out;
}
.hero .burger:hover span {
  background-color: rgb(0, 0, 128);
}
.hero .burger:hover span::before {
  background-color: rgb(0, 0, 128);
}
.hero .burger:hover span::after {
  color: rgb(0, 0, 128);
}
.hero .burger span::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(51, 51, 51);
  transition: 0.3s ease-in-out;
}
.hero .burger span::after {
  content: "menu";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  font-size: 18px;
  color: rgb(51, 51, 51);
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease-in-out;
}
.hero .burger.open-menu span {
  transform: rotate(-45deg) translate(0, -8px);
}
.hero .burger.open-menu span::before {
  top: -1px;
  left: 0;
  width: 100%;
  transform: rotate(90deg);
}
.hero .burger.open-menu span::after {
  opacity: 0;
  visibility: hidden;
}